# Env
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.fleet/
.zed/
.nova/

# PHP / Laravel
/vendor/
/node_modules/
/public/build/
/public/hot/
/public/storage/
/storage/*.key
/storage/pail
.phpunit.result.cache
.phpunit.cache
.phpactor.json

# Config local
auth.json
Homestead.json
Homestead.yaml